@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import "./menuIcon.css";
@import "./sidebar-admin.css";
@import "./button.css";
@import "./loginpage.css";

body {
	margin: 0 auto;
	background-color: rgb(235, 238, 240);
	font-family: "Fjalla one", sans-serif;
	box-sizing: border-box;
	padding: 0;
}

footer {
	position: sticky;
}
/* .login {
	width: 100%;
	margin: 500px 500px;
} */
.navbar-top {
	background-color: rgb(109, 109, 109);
	position: fixed;
	top: 0;
	width: 100%;
	display: inline-block;
	transition: top 0.5s;
	z-index: 100;
}
.navbar-top ul li a {
	font-size: 20px;
	width: 100%;
}

.navbar-top ul {
	margin-right: 30px;
}
.sidenav {
	height: fit-content;
	width: 200px;
	border-radius: 0 0 0 10px;
	margin-top: 60px;
}

header nav a {
	font-size: 30px;
	margin-left: 20px;
}
header nav a span {
	color: #1fee3b;
}
ul li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #78f;
	z-index: -1;
	transition: 0.4s ease-in-out;
}
ul li a :hover::before,
ul li a.active::before {
	width: 50%;
}

main {
	margin: 70px 3px;
}
@media (max-width: 770px) {
	header nav .menu-icon-container {
		display: inline-block;
		margin: 10px 20px;
	}
	header nav ul {
		display: none;
	}
	header nav a {
		font-size: 30px;
		margin: 0;
	}
}
